@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Lora', serif, sans-serif; /* google fonts */
  color: white;
}
